section .skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 10rem 0;
  }
.skills div{
  width: 50%;
}
.skills img{
  width: 200px;
  padding: 30px;
}

.skills h1{
  font-size: 25px;
  text-transform: uppercase;
}
.skills p{
  font-size: 16px;
  text-align: justify;
  margin-top: 20px;
  line-height: 30px;
}
  