.portifolio-card{
    display: flex;
    justify-content: center;;
    width: 100%
}

section .portifolio{
    margin: 5rem 0 5rem 0;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.portifolio  h1{
    font-size: 20px;
    margin-top: 10px;
}
.portifolio  p{
    font-size: 16px;
    margin-top: 10px;
}
.portifolio img{
    -webkit-box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.67);
    border-radius: 5px;
}
.portifolio .port1 {
    width: 600px;
    cursor: pointer;
}
.portifolio .port2{
    margin-left: 20px;
    cursor: pointer;
}


@media(max-width:608px){
    section .portifolio{
        height: 800px;
    }
    .portifolio-img{
        display: flex;
        flex-direction: column;
    }
    .portifolio img{
        width: 255px;
    }
    
}