
.contact{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 30px;
    
}
.contact .contact-primary{
    display: flex;
    flex-direction: column;
}
.contact div{
width: 100%
}
.contact form{
    width: 35%;
}
.contact iframe{
    width: 35%;
}
.contact iframe{
    border: 1px solid #000;
}
.contact form{
    
    justify-content: center;
}
.contact form label{
    margin-top: 10px;
}
.contact form input{
    padding: 14px;
    background-color: #f3f3f3b5;
    border: 1px solid #000;
}
 .contact form input[type="submit"]{
   margin: 20px 0;
   padding: 10px 30px;
   background-color: #000;
   color: #fff;
   cursor: pointer;
}
.contact form input[type="submit"]:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
} 
.contact form textarea{
    padding: 8px;
    background-color: #f3f3f3b5;
     border: 1px solid #000;
    resize:none;
}
.contact form .btn{
    background-color: #000;
    padding: 15px 30px;
    color: #fff;
    width: 100%
}
.contact form .btn:hover{
    background-color: #fff01c;
    color: #000;
    animation: all 0.2s;
}
@media(max-width:500px){
    .contact form{
        width: 90%;
    }
}
@media(max-width: 768px){
    .contact{
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    .contact form{
    width: 100%;
}
.contact iframe{
    width: 100%;
}
}