/*Import google font*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');
/*RESET*/
*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; outline: none; font-family: 'Source Code Pro' , sans-serif;}
nav, ul{list-style: none;}
a{text-decoration: none; cursor: pointer; color: #fff;}
body{
	background-color: #f3f3f3b5;
}
::selection {
    color: #c1881e;
    background: transparent;
}

/*HEADER*/
header{ 
	display: flex;
	justify-content: space-between;
	width: 100%;
	 position: absolute; 
	 top: 0; 
	 left: 0; 
	 display: flex; 
	 align-items: center;
	padding: 30px 40px; 
	
}
header nav {display: flex;} 
header li a img{width: 30px;}


header .menu-option{
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 0, 0);
	width: 18%;
	height: 100vh;
	padding: 25px 50px; 
	transform: translateX(-101%);
	transition: transform 200ms linear;
	top: 0;
	left: 0;
	z-index: 1;
}
header .menu-option img{width: 30px;}
header .menu-option li{color: #fff;padding: 10px 0;}
header  .menu-close{margin-bottom: 20px;}
header .menu-open{transform: translateX(-0%);}

.menu-profile{
	margin-top: 30px; 
	bottom: 20px;
	position: fixed;
	flex-direction: row;
}

.menu-profile li a{
	text-align: center;
}
.menu-profile .menu-btn-login {
	background-color: rgb(255, 51, 102);
	padding: 10px 30px;
}
.menu-profile .menu-btn-login:hover{
	box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
}

@media(max-width:768px){
	header{
		padding: 19px 24px;
	}
}
/*HERO*/
.hero{
	/* background-image: url('../../img/intro.svg'); */
	background-size: cover;
	background-position: center;
	min-height: 114vh;  
	z-index: -1;
}
.hero .hero-mask{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.hero .profile{
	text-align: left;
	position: absolute;
	z-index: 0;
	line-height: 50px;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;

}
@media(max-width: 425px){
	.hero{
		height: 160vh;
	}
	.hero .profile{
		margin-top: 120px;
	}
}

/*KONSOLE*/
.hero .konsole-prompt{
	display: flex;
	justify-content: left;
	padding: 61px 24px;
	width: 396px;
	height: 426px;
	background-image: url('../../img/kon.svg');
	background-size: cover;
	line-height: 30px;
	text-align: left;
}
.hero .konsole{
	animation: move 12s infinite;
}
@keyframes move {
	from {margin-top: 0}
	to {margin-bottom: 50px}
}
.hero .konsole-prompt{
	animation-name: move;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes move {
    0% {top: 0px; bottom: 50px}
    50% {top: 50px; bottom: 0px}
    100%{top: 0px; bottom: 0px}

   

 }


.hero .konsole-prompt img{
	width: 18px
}
.konsole-prompt p{
	color: #d7cbcb  !important;
	font-size: 16px !important;
    font-family: 'Source Code Pro' !important;
}

.konsole-prompt .konsole-reserved span{
	color: #cbd111;
}
.konsole-prompt strong{
	color: #c1881e !important;
	font-weight: lighter;
}
.konsole-prompt .function p{
	color: #d7cbcb;
}
.konsole-prompt .function strong{
	color: #59d927 !important;
}
.konsole-prompt .function-default strong{
	color: #59d927 !important;
	margin: 0;
}
/*.konsole-prompt .function p:first-child{
	margin-left: 24px;
}*/
/**/
.hero .profile p{margin-bottom: 5px; font-size: 22px; color: #000 }

.hero h1{font-size: 2.5rem; text-transform: uppercase; color:#000}

.btn{ 
	padding: 19px 43px;
	margin: 24px 0px;
	background-color:#fff01c;
	border: none;
	border-radius: 5px;
	color:#000;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 13px;
}
.btn:hover{
	background-color:#000;
	color: #fff;
	transition: all 0.5s;
	box-shadow: 0px 0px 30px 5px rgba(219,219,219,0,7);
	border: none;
}

@media(max-width: 934px){
	.hero .profile{
		flex-direction: column;
		text-align: center;
		width: 100%;
	}
	.hero .konsole-prompt{
		width: 371px;
		height: 100%;
	}
}

@media(max-width: 500px){
	
	.hero .profile button{
		padding: 10px 24px;
		margin-top: 13px;
	}
	.hero h1{font-size: 1.5rem;}
	.hero .profile p{font-size: 13px; }

	header .menu-option{
		width: 100%;
		padding: 19px 24px;
	}
}




